<div class="mainheader-area py-3">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-sm-8">
            <a href="/admin/sirkulasi"><h1>Library Management System</h1></a>
            </div>
            <div class="col-sm-2">
    <form action="/admin/logout" method="GET">
      <button type="submit" class="btn btn-primary">Log out</button>
    </form>
            </div>
        </div>
    </div>
</div>